@charset "utf-8";
@import "vars";

/* ====================================================
Base style & container
==================================================== */
body {
	color: black;
	font-size: 100%;
	line-height: 1.4;
	font-family: $font-gothic;
}

.container {
	display: block;
	margin: 0 auto;
	max-width: 1170px;
	padding: 0 15px;
}

/* ====================================================
Float & clear
==================================================== */
.clearfix {
	*zoom: 1;
	&:before {
		display: table;
		content: '';
	}
	&:after {
		display: table;
		content: '';
		clear: both;
	}
}

/* ====================================================
Header & footer
==================================================== */
#main-header {
}

#main-footer {
}

/* ====================================================
Components
==================================================== */

/* ====================================================
Typography
==================================================== */

/* ====================================================
Buttons, input, .etc
==================================================== */