@charset "utf-8";

/* ====================================================
Font
==================================================== */
@font-face {
	font-family: "Noto Sans CJK JP";
	font-style: normal;
	font-weight: 100;
	src: url("../fonts/NotoSansCJKjp-Thin.eot"); /* IE9 Compat Modes */
	src: url("../fonts/NotoSansCJKjp-Thin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("../fonts/NotoSansCJKjp-Thin.woff2") format("woff2"), /* Modern Browsers */
	url('../fonts/NotoSansCJKjp-Thin.woff') format('woff'), /* Modern Browsers */
	url("../fonts/NotoSansCJKjp-Thin.otf") format("opentype"); /* Safari, Android, iOS */
}

@font-face {
	font-family: "Noto Sans CJK JP";
	font-style: normal;
	font-weight: 200;
	src: url("../fonts/NotoSansCJKjp-Light.eot");
	src: local('Noto Sans CJK JP Light'),
	url("../fonts/NotoSansCJKjp-Light.eot?#iefix") format("embedded-opentype"),
	url("../fonts/NotoSansCJKjp-Light.woff2") format("woff2"),
	url("../fonts/NotoSansCJKjp-Light.woff") format("woff"),
	url("../fonts/NotoSansCJKjp-Light.otf") format("opentype");
}

@font-face {
	font-family: "Noto Sans CJK JP";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/NotoSansCJKjp-DemiLight.eot");
	src: local('Noto Sans CJK JP DemiLight'),
	url("../fonts/NotoSansCJKjp-DemiLight.eot?#iefix") format("embedded-opentype"),
	url("../fonts/NotoSansCJKjp-DemiLight.woff2") format("woff2"),
	url("../fonts/NotoSansCJKjp-DemiLight.woff") format("woff"),
	url("../fonts/NotoSansCJKjp-DemiLight.otf") format("opentype");
}

@font-face {
	font-family: "Noto Sans CJK JP";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/NotoSansCJKjp-Regular.eot");
	src: local('Noto Sans CJK JP Regular'),
	url("../fonts/NotoSansCJKjp-Regular.eot?#iefix") format("embedded-opentype"),
	url("../fonts/NotoSansCJKjp-Regular.woff2") format("woff2"),
	url("../fonts/NotoSansCJKjp-Regular.woff") format("woff"),
	url("../fonts/NotoSansCJKjp-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Noto Sans CJK JP";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/NotoSansCJKjp-Medium.eot");
	src: local('Noto Sans CJK JP Medium'),
	url("../fonts/NotoSansCJKjp-Medium.eot?#iefix") format("embedded-opentype"),
	url("../fonts/NotoSansCJKjp-Medium.woff2") format("woff2"),
	url("../fonts/NotoSansCJKjp-Medium.woff") format("woff"),
	url("../fonts/NotoSansCJKjp-Medium.otf") format("opentype");
}

@font-face {
	font-family: "Noto Sans CJK JP";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/NotoSansCJKjp-Bold.eot");
	src: local('Noto Sans CJK JP Bold'),
	url("../fonts/NotoSansCJKjp-Bold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/NotoSansCJKjp-Bold.woff2") format("woff2"),
	url("../fonts/NotoSansCJKjp-Bold.woff") format("woff"),
	url("../fonts/NotoSansCJKjp-Bold.otf") format("opentype");
}

@font-face {
	font-family: "Noto Sans CJK JP";
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/NotoSansCJKjp-Black.eot");
	src: local('Noto Sans CJK JP Black'),
	url("../fonts/NotoSansCJKjp-Black.eot?#iefix") format("embedded-opentype"),
	url("../fonts/NotoSansCJKjp-Black.woff2") format("woff2"),
	url("../fonts/NotoSansCJKjp-Black.woff") format("woff"),
	url("../fonts/NotoSansCJKjp-Black.otf") format("opentype");
}

@font-face {
	font-family: "Noto Sans Mono CJK JP";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/NotoSansMonoCJKjp-Regular.eot");
	src: url("../fonts/NotoSansMonoCJKjp-Regular.eot?#iefix") format("embedded-opentype"),
	url("../fonts/NotoSansMonoCJKjp-Regular.woff") format("woff"),
	url("../fonts/NotoSansMonoCJKjp-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Noto Sans Mono CJK JP";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/NotoSansMonoCJKjp-Bold.eot");
	src: url("../fonts/NotoSansMonoCJKjp-Bold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/NotoSansMonoCJKjp-Bold.woff") format("woff"),
	url("../fonts/NotoSansMonoCJKjp-Bold.otf") format("opentype");
}

$font-gothic: 'Noto Sans CJK JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', '游ゴシック', '游ゴシック体', YuGothicMedium, YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ ゴシック', 'MS Gothic', 'HiraKakuProN-W3', 'TakaoExゴシック', TakaoExGothic, 'MotoyaLCedar', 'Droid Sans Japanese', sans-serif;
$font-mincho: 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', '游明朝', '游明朝体', YuMincho, 'Yu Mincho', 'ＭＳ 明朝', 'MS Mincho', 'HiraMinProN-W3', 'TakaoEx明朝', TakaoExMincho, 'MotoyaLCedar', 'Droid Sans Japanese', serif;
$font-hiramincho-w2: 'ヒラギノ明朝 Pro-W2', 'Hiragino Mincho Pro-W2', 'HiraMinPro-W2', 'ヒラギノ明朝 Pro W2', 'Hiragino Mincho Pro W2', 'HiraMinPro W2';
$font-hiramincho-w3: 'ヒラギノ明朝 Pro-W3', 'Hiragino Mincho Pro-W3', 'HiraMinPro-W3', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro W3', 'HiraMinPro W3';
$font-hiramincho-w6: 'ヒラギノ明朝 Pro-W6', 'Hiragino Mincho Pro-W6', 'HiraMinPro-W6', 'ヒラギノ明朝 Pro W6', 'Hiragino Mincho Pro W6', 'HiraMinPro W6';

@mixin font-size($sizeValue) {
	font-size: ($sizeValue) + px;
	font-size: ($sizeValue / 10) + rem;
}

@mixin font-size-em($sizeValue) {
	font-size: ($sizeValue) + px;
	font-size: ($sizeValue / 16) + em;
}

@mixin font-weight($value) {
	@if ($value == "normal") {
		font-weight: 400;
	} @else if ($value == "medium") {
		font-weight: 500;
	} @else if ($value == "bold") {
		font-weight: 700;
	} @else if ($value == "bolder") {
		font-weight: 900;
	}
}

/* ====================================================
Position & transform
==================================================== */
@mixin v-align {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin h-align {
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

@mixin v-h-align {
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@mixin smooth-transition {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-backface-visibility: hidden;
}

/* ====================================================
Color
==================================================== */

/* ====================================================
Sizing
==================================================== */
// Font size from px to em
$base-size: 16px;
@function px-em($target, $context: $base-size) {
	@if $target == 0 {
		@return 0
	}
	@return $target / $context + 0em;
}

/* ====================================================
Misc
==================================================== */
@mixin no-select {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}