<style>
	.wrapper {
		display: block;
		margin: 50px auto;
		max-width: 1200px;
	}
</style>

<div class="wrapper">
	<p data-height="272" data-theme-id="0" data-slug-hash="KyVadR" data-default-tab="html,result" data-user="tonyxd1707"
	   data-embed-version="2" data-pen-title="SVG Gradient Border - Button" data-preview="true" class="codepen">See the Pen
		<a href="https://codepen.io/tonyxd1707/pen/KyVadR/">SVG Gradient Border - Button</a> by Nam Nguyen Hoang (<a
				href="https://codepen.io/tonyxd1707">@tonyxd1707</a>) on <a href="https://codepen.io">CodePen</a>.</p>
</div>

<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>