<style>
	.wrapper {
		display: block;
		margin: 50px auto;
		max-width: 1200px;
	}
</style>

<div class="wrapper">
	<p data-height="327" data-theme-id="dark" data-slug-hash="aVdJRL" data-default-tab="css,result"
	   data-user="tonyxd1707" data-embed-version="2" data-pen-title="Dropdown - With custom dropdown styling"
	   data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/tonyxd1707/pen/aVdJRL/">Dropdown -
			With custom dropdown styling</a> by Nam Nguyen Hoang (<a
				href="https://codepen.io/tonyxd1707">@tonyxd1707</a>) on <a href="https://codepen.io">CodePen</a>.</p>
</div>

<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>