<style type="text/css">
	.yellow {
		background: yellow;
		height: 200px;
	}

	.red {
		background: red;
		height: 200px;
	}
</style>

<main class="page-<%= pageData.template %>">
	<div class="yellow"></div>
	<div class="red"></div>
	<div class="yellow"></div>
	<div class="red"></div>
	<input type="button" value="click me" id="button-click"/>
</main>